#al-header {
    ul li{
        border-bottom-color: transparent !important;
        border-bottom-width: 0 !important;
    }
    .ant-menu-horizontal{
        line-height: 0 !important;
    }
    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
        color: #1890ff !important;
        border-bottom-color: transparent !important;
        border-bottom-width: 0 !important;
    }
    a:hover{
        color: #1890ff !important;
    }

    .ant-btn-link:hover {
        color: #1890ff !important;
    }
}
