#al-header {
    display: flex;
    width: 1180px;
    margin: 0 auto;

    .header-menu {
        flex: 1;
        width: 100%;
    }

    .btn-show {
        display: none;
    }

    // 响应式设计
    @media screen and (max-width: 768px){
        display: flex;
        width: auto;
        margin: 0;
        flex-direction: column;
        .btn-show {
            display: flex;
        }

        .left-menu {
            width: 100%;
        }

        .right-menu {
            width: 100%;
        }
    }


    // 覆盖antd样式
    ul li{
        border-bottom-color: transparent !important;
        border-bottom-width: 0 !important;
        font-size: 18px;
    }
    .right-menu-text {
        font-size: 18px;
    }
    .ant-menu-horizontal{
        line-height: 0 !important;
    }
    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
        color: #1890ff !important;
        border-bottom-color: transparent !important;
        border-bottom-width: 0 !important;
    }
    a:hover{
        color: #1890ff !important;
    }

    .ant-btn-link:hover {
        color: #1890ff !important;
    }
}


