
.show-designer-view {
    .num {
        font-weight: bold;
        margin-left: 5px;
        font-size: 14px;
        color: #282828;
    }

    .poster {
        width: 30%;
        height: 100%;
        margin: 0 5px
    }
    .work-text {

    }


    .desc-text{
        color: #bbb;
        font-size: 12px;
    }
}
