#comment-box {
  position: relative;
  .comment-content-wrapper {
    margin-left: 50px;
    margin-bottom: 50px;
    img {
      max-width: 60%;
    }

    @media screen and (max-width: 768px){
      margin-bottom: 50px;
    }
  }



  #add-proposal{
    position: absolute;
    top: 0;
    right: 20px;
  }
}

#al-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  span[role='img'] svg {
    width: 22px;
    height: 22px;
  }
  &:hover {
    color: #1890ff;
  }
}

