@import "assets/style/al-style.css";
@import "~antd/dist/antd.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

body{
  position: relative;
  /*padding-bottom: 200px;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, body, button, caption, dd, div, dl, dt, em, figure, form, h1, h2, h3, h4, h5, h6, html, i, img, input, label, li, ol, p, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul {
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content{
  flex: 1;
  background-color: rgba(240, 240, 240, 0.5);
}

/*.header-menu .ant-menu-horizontal{
  border-bottom: none !important;
}*/

.content-width{
  width: 1180px;
  margin: auto;
}

.primary-bg-color{
  background-color: rgba(240, 240, 240, 0.5);
}

.primary-border-radius{
  border-radius: 10px;
}

.desc-text{
  color: #DBDBDB;
  font-size: 12px;
}

.hover-bg-color-primary:hover{
  background-color: #409EFF;
}

/*BEGIN ========== 重写ant样式 ========== */

/*调整 input，textarea，button 弧度为5px*/
input, textarea{
  border-radius: 5px !important;
}

/*调整 input输入框 弧度为5px*/
.ant-input-affix-wrapper, .ant-btn{
  border-radius: 5px !important;
}

.ant-btn-round{
  border-radius: 999em !important;
}

/*去除 菜单栏底部灰色线条*/
.ant-menu-horizontal{
  border-bottom: none !important;
}

#index-menu-title .ant-menu-horizontal{
  display: flex !important;
  justify-content: center !important;
}

/*END ========== 重写ant样式 ========== */


.uuid-text-desc{
  font-size: 12px;
  color: #ccc
}

.uuid-icon-style{
  font-size: 20px;
  color: #aaa
}

