@import "assets/style/al-style.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

#root{
  display: flex;
}

#root>div:nth-child(1){
  flex: 1;
  background-color: rgba(240, 240, 240, 0.5);
}

.header-menu .ant-menu-horizontal{
  border-bottom: none !important;
}

.content-width{
  width: 1180px;
  margin: auto;
}

.primary-bg-color{
  background-color: rgba(240, 240, 240, 0.5);
}

.primary-border-radius{
  border-radius: 10px;
}

.desc-text{
  color: #DBDBDB;
  font-size: 12px;
}

.hover-bg-color-primary:hover{
  background-color: #409EFF;
}

/*BEGIN ========== 重写ant样式 ========== */
.ant-btn-primary{
  border-radius: 5px !important;
}

.ant-btn-default{
  border-radius: 5px !important;
}

/*END ========== 重写ant样式 ========== */


