@import "assets/style/al-style.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, div, p, span {
  margin: 0;
  padding: 0;
}

#root{
  display: flex;
  flex-direction: column;
}

#root>div:nth-child(2){
  flex: 1;
  background-color: rgba(240, 240, 240, 0.5);
}

.header-menu .ant-menu-horizontal{
  border-bottom: none !important;
}

.content-width{
  width: 1180px;
  margin: auto;
}

.primary-bg-color{
  background-color: rgba(240, 240, 240, 0.5);
}

.primary-border-radius{
  border-radius: 10px;
}

.desc-text{
  color: #DBDBDB;
  font-size: 12px;
}

.hover-bg-color-primary:hover{
  background-color: #409EFF;
}

/*BEGIN ========== 重写ant样式 ========== */

/*调整 input，textarea，button 弧度为5px*/
input, textarea{
  border-radius: 5px !important;
}

/*调整 input输入框 弧度为5px*/
.ant-input-affix-wrapper, .ant-btn{
  border-radius: 5px !important;
}

.ant-btn-round{
  border-radius: 999em !important;
}

/*去除 菜单栏底部灰色线条*/
.ant-menu-horizontal{
  border-bottom: none !important;
}

#index-menu-title .ant-menu-horizontal{
  display: flex !important;
  justify-content: center !important;
}

/*END ========== 重写ant样式 ========== */


